<ul>
	<div class="row">
		<li class="col-sm-2"><a href= "#">Trang chủ</a></li> 
        <li class=" col-sm-2"><a href="/danhSachTaiKhoan" >Quản lí tài khoản</a>
            
        </li>
        <li class=" col-sm-2"><a href="#">Quản lí nhân viên</a>
        	
        </li>
    </div> 
</ul>