<!-- Footer -->
<div class="container-fluid">
	<footer class="page-footer" id="footer">			
		<div class="footer-copyright text-center py-3">
			© 2018 Copyright: Trường Đại học Bách Khoa Hà Nội
		</div>			
	</footer>
</div>  