<ul>
	<div class="row">
		<li class="col-sm-2"><a href="#">Trang chủ</a></li>
	    <li class=" col-sm-2"><a href="#" >Quản Lí kho sách</a>
		   <ul>
	            <li><a href="/list">Danh sách tài Liệu</a></li>
	            <li><a href="#">Nhà cung cấp </a></li>
	            
	        </ul>
		</li>
	    <li class=" col-sm-2"><a href="#" >Quản lí độc giả</a>
	        
	    </li>
	    <li class=" col-sm-2"><a href="#">Quản lí nhân viên</a>
	    	
	    </li>
	    <li class=" col-sm-2"><a href="#">Quản lí mượn trả</a>
		    <ul>
	            <li><a  href="#">Quản lí mượn sách</a></li>
	            <li><a  href="#">Quản lí trả sách</a></li> 
	        </ul>
		</li>  
	</div> 
</ul>