<!DOCTYPE html>
<html lang="en">
<head>
	<title>Trang chủ</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/custom.css">
	<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>
<body>
	<% include ../partials/header %>
	<!-- Main -->
	<div class="container">
		<a href="#"><h3>Sách khoa học</h3></a>
		<hr style="border: 1px solid gray;">
		<div id="chaySachKhoaHoc" class="carousel slide" data-ride="carousel" data-interval="false">	
			<!-- Wrapper for slides -->
			<div class="carousel-inner">							
				<div class="item active">
					<div class="row">
						<div class="col-sm-2 col-sm-offset-1">
							<div class="thumbnail">
								<img src="images/sach1.jpg" alt="Sách 1">
							</div>							
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach2.jpg" alt="Sách 2">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach3.jpg" alt="Sách 3">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach4.jpg" alt="Sách 4">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach5.jpg" alt="Sách 5">
							</div>
						</div>
					</div>
				</div>
				
				<div class="item">
					<div class="row">
						<div class="col-sm-2 col-sm-offset-1">
							<div class="thumbnail">
								<img src="images/sach1.jpg" alt="Sách 1">
							</div>							
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach2.jpg" alt="Sách 2">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach3.jpg" alt="Sách 3">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach4.jpg" alt="Sách 4">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach5.jpg" alt="Sách 5">
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#chaySachKhoaHoc" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#chaySachKhoaHoc" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>


		<a href="#"><h3>Truyện tranh</h3></a>	
		<hr style="border: 1px solid gray;">
		<div id="chayTruyenTranh" class="carousel slide" data-ride="carousel" data-interval="false">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">							
				<div class="item active">
					<div class="row">
						<div class="col-sm-2 col-sm-offset-1">
							<div class="thumbnail">
								<img src="images/sach1.jpg" alt="Sách 1">
							</div>							
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach2.jpg" alt="Sách 2">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach3.jpg" alt="Sách 3">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach4.jpg" alt="Sách 4">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach5.jpg" alt="Sách 5">
							</div>
						</div>
					</div>
				</div>
				
				<div class="item">
					<div class="row justify-content-center">						
						<div class="col-sm-2 col-sm-offset-1">
							<div class="thumbnail">
								<img src="images/sach1.jpg" alt="Sách 1">
							</div>							
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach2.jpg" alt="Sách 2">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach3.jpg" alt="Sách 3">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach4.jpg" alt="Sách 4">
							</div>
						</div>
						<div class="col-sm-2">
							<div class="thumbnail">
								<img src="images/sach5.jpg" alt="Sách 5">
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#chayTruyenTranh" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#chayTruyenTranh" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<br>
	<br>
	<% include ../partials/footer %>
</body>
</html>
