<!DOCTYPE html>
<html>
<head>
	<title>Quản lí trả sách</title>
	<% include ../partials/head %>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		html, body{
			height: 100%
		}
	</style>
</head>
<body style="margin-right: 0 !important; overflow-y: auto;">	
	<%include ../partials/header%>
	<div style="min-height: 85%"> 
		<% include ../partials/anhchay %>
		<div class="container" style="margin-top: 20px; ">  
			<!-- <div class="row"> -->
				<div class="form-group">
					<!-- <div class="col-sm-3"> -->
						<a href="/quanLyTraSach">
							<h4 style="color: red;"><b>Quản lý trả sách</b></h4>
						</a>
					<!-- </div>  -->
				</div> 
				<div class="form-inline">
			        <label>Mã phiếu mượn</label>
			        <input id="MaPhieu" name="MaPhieu" placeholder="Nhập mã phiếu mượn" type="text" onkeypress="layTTPhieuMuon(event);"/>
		       		<p id="check_MaPhieu" style="color: red;"></p>
			    </div> 
			<!-- </div> -->
				<hr>
				<div class="form-inline">
			        <label>Ngày mượn</label>
			        <input id="NgayMuon" name="date" placeholder="yyyy-mm-dd" type="text" disabled="" />
			        <label>Thời hạn mượn</label>
			        <input id="ThoiHanMuon" type="text" disabled=""/> 
			    </div>
				<hr> 
			    
			    <div class="form-group">
				    <div class="panel panel-primary">
						<div class="panel-heading">
							Thông tin độc giả
						</div>
						<div class="panel-body"> 
							<div class="form-inline">
			       				<label>Mã độc giả: </label>
			       				<input type="text" class="form-control" required="" id="MaThe" onkeypress="layTTDocGia(event);">  
		           			</div>
						    <div class="form-group-inline">
			       				<label >Tên độc giả: </label>
			       				<input type="text" class="form-control" required="" id="HoTen" disabled="">
		           			</div>
		           			<div class="form-group-inline">
			       				<label>Email: </label>
			       				<input type="text" class="form-control" required="" id="Email" disabled="">
		           			</div>
		           			<div class="form-group-inline">
			       				<label>Số điện thoại: </label>
			       				<input type="text" class="form-control" required="" id="SoDienThoai" disabled="">
		           			</div>
							
						</div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">
							Thông tin sách mượn
						</div>
						<div class="panel-body">
							<div class="form-inline">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>STT</th>
											<th>Mã vạch</th>
											<th>Tên sách</th> 
										</tr>
									</thead>
									<tbody id="table_Detail">
										
									</tbody>
								</table>
		           			</div>
						</div>
					</div>
					<label>Tổng số sách mượn: </label>
					<input type="text" class="form-control" required="" id="TongSoSachMuon" disabled="">
					<label>Tổng tiền cọc: </label>
					<input type="text" class="form-control" required="" id="TongTienCoc" disabled="">
					<label>Trạng thái: </label>
					<input type="text" class="form-control" required="" id="TrangThai" disabled="">
				</div>
				<hr>
				<button type="button" id="trasach" class="btn btn-warning" onclick="xacNhanTraSach();">Xác nhận trả sách</button>
				<p id="ketQuaTraSach" style="color: red;"></p>
			<hr> 
			
		</div>	 
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function(){
	    var date_input=$('input[name="date"]'); //our date input has the name "date"
	    var container=$('.bootstrap form').length>0 ? $('.bootstrap form').parent() : "body";
	    var options={
	    	format: 'yyyy-mm-dd',
	        container: container,
	        todayHighlight: true,
	        autoclose: true,
	    };
	    date_input.datepicker(options);
	})
	// Xem chi tiet thong tin phieu muon
	var id;
	var danhsachmuonsach;
	function layTTPhieuMuon() {  
		/* 	Lay thong tin cua doc gia
			Lay thong tin danh sach sach da muon cua doc gia */ 
		if (event.keyCode == 13) { // nhan phim enter 
			document.getElementById("ketQuaTraSach").innerHTML = '';
			id = document.getElementById("MaPhieu").value;
 
			if (id.trim() == "") document.getElementById("check_MaPhieu").innerHTML = "";
				var xmlhttp = new XMLHttpRequest();
				xmlhttp.open("POST", "/layTTPhieuMuon", false); 
				xmlhttp.onreadystatechange = function() {
				if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
					if (xmlhttp.responseText != "0") { 
						document.getElementById("check_MaPhieu").innerHTML = ""
						ketqua = JSON.parse(xmlhttp.responseText);    
						document.getElementById("NgayMuon").value = ketqua.NgayMuon;
						document.getElementById("ThoiHanMuon").value = ketqua.ThoiHanMuon;
						document.getElementById("MaThe").value = ketqua.MaThe;
						document.getElementById("HoTen").value = ketqua.HoTen;
						document.getElementById("Email").value = ketqua.Email;
						document.getElementById("SoDienThoai").value = ketqua.SoDienThoai;
						document.getElementById("TongSoSachMuon").value = ketqua.TongSoSach;
						document.getElementById("TongTienCoc").value = ketqua.TongTienCoc + " VNĐ";
						document.getElementById("TrangThai").value = ketqua.TrangThai; 
						if (ketqua.TrangThai == "Trả") $('#trasach').hide(); 
						else $('#trasach').show();

						danhsachmuonsach = ketqua.danhsachmuonsach;
						hienthi = '';
						for (var i = 0; i < danhsachmuonsach.length; i++)
						{
							hienthi += '<tr>';
								hienthi += '<td>' + (i + 1) + '</td>';
								hienthi +=  '<td>' + danhsachmuonsach[i].MaVach + '</td>';
								hienthi += '<td>' + danhsachmuonsach[i].TenTL + '</td>';  
							hienthi += '</tr>';
						}
						document.getElementById('table_Detail').innerHTML = hienthi;
					}
					else {
						document.getElementById("check_MaPhieu").innerHTML = "Không tìm thấy thông tin phiếu mượn";
						document.getElementById("NgayMuon").value = '';
						document.getElementById("ThoiHanMuon").value = '';
						document.getElementById("MaThe").value = '';
						document.getElementById("HoTen").value = '';
						document.getElementById("Email").value = '';
						document.getElementById("SoDienThoai").value = '';
						document.getElementById("TongSoSachMuon").value = '';
						document.getElementById("TongTienCoc").value = '';
						document.getElementById("TrangThai").value = ''; 
						document.getElementById('table_Detail').innerHTML = '';
					}
				}

			}
			xmlhttp.setRequestHeader('Content-type', 'application/json');
			var thongTinPhieuMuon = JSON.stringify({"id": this.id}); 

			xmlhttp.send(thongTinPhieuMuon); 
		}
	}

	function xacNhanTraSach() {  
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("POST", "/xacNhanTraSach", false); 
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == 4 && xmlhttp.status == 200) { 
				if (xmlhttp.responseText != "0") {   
					document.getElementById('ketQuaTraSach').innerHTML = "Trả sách thành công";
				}
				else {
					document.getElementById("ketQuaTraSach").innerHTML = "Lỗi trả sách"; 
				}
			} 
		}
		xmlhttp.setRequestHeader('Content-type', 'application/json');
		var thongTinPhieuMuon = JSON.stringify({"id": id, "MaNV_Tra": sessionStorage.getItem("username"), "danhsachmuonsach": danhsachmuonsach}); 
		console.log(thongTinPhieuMuon);

		xmlhttp.send(thongTinPhieuMuon);  
	}
	 
</script>
</html>