<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tìm kiếm sách</title>
	<% include ../partials/head %>
</head>
<body>
		<!-- Header -->
	<% include ../partials/header %>
	<!-- Main -->
	<!-- Hien thi ket qua tim kiem --> 
		<div class="carousel-inner">							
				<div class="item active">
					<div class="row">
						<div class="col-sm-2 col-sm-offset-1">
							<a class="thumbnail">
								<img src="images/sach1.jpg" alt="Sách 1" style="width: 120px; height: 180px;">
								<span>book</span>
							</a>							
						</div>
						<div class="col-sm-2">
							<a class="thumbnail">
								<img src="images/sach2.jpg" alt="Sách 2" style="width: 120px; height: 180px;">
								<span>book</span>
							</a>
						</div>
						<div class="col-sm-2">
							<a class="thumbnail">
								<img src="images/sach3.jpg" alt="Sách 3" style="width: 120px; height: 180px;">
								<span>book</span>
							</a>
						</div>
						<div class="col-sm-2">
							<a class="thumbnail">
								<img src="images/sach4.jpg" alt="Sách 4" style="width: 120px; height: 180px;">
								<span>book</span>
							</a>
						</div>
						<div class="col-sm-2">
							<a class="thumbnail">
								<img src="images/sach5.jpg" alt="Sách 5" style="width: 120px; height: 180px;">
								<span>book</span>
							</a>
						</div>
					</div>
				</div>
				
			 
			</div>

		<div class="row">
	<% for(var i = 0; i < ket_qua_tim_kiem.length; i++){ %>
		  
		<h1>Length:  <%=ket_qua_tim_kiem.length%></h1>
	<%} %>
	 
	< 
	<br>
	<br>
	<!-- Footer -->
	<% include ../partials/footer %>
</body>
</html>
